<h1>{{title}}</h1>
<p>{{subtitle}}</p>

<h2>Strong points:</h2>
<ol>
{{#each features}}
    <li>{{feat}}</li>
{{/each}}
</ol>

<h2>Quotes:</h2>
{{{quotes}}}

<h2>Helpers</h2>
<h4>Make Link</h4>
<p>
    Helpers are functions to help. {{makeLink "Read More" "http://handlebarsjs.com/block_helpers.html"}}
</p>





